<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-6 col-12">
      <rbs-email-server-setup></rbs-email-server-setup>
      <rbs-logo-setup class="col-12 d-none d-md-block"></rbs-logo-setup>
    </div>
    <div class="col-12 d-block d-md-none">
      <rbs-logo-setup class="col-12"></rbs-logo-setup>
    </div>
    <div class="col-12 col-md-6">
      <rbs-email-body-setup></rbs-email-body-setup>
    </div>
    <div class="col-12 col-md-6 mt-5">
      <rbs-correspondence-setup></rbs-correspondence-setup>
    </div>
    <div class="col-12 col-md-6">
      <rbs-client></rbs-client>
    </div>
    <div class="col-12 mt-4 text-center mb-4">

      <button mat-raised-button color="primary" (click)="addCourse()">Submit</button>

      <!-- <form class="form-horizontal" novalidate (ngSubmit)="addCourse()" [formGroup]="courseForm">
      <button mat-raised-button color="primary" type="submit" [disabled]="!courseForm.valid" >Submit</button>
    </form> -->
    </div>

  </div>
</div>
