<div class="ml-4">


  <div class="container-fluid mt-3">
    <div class="row" style="width: 100%;">

      <div class=" col-12 col-md-6 mt-3 pb-1">
        <mat-accordion [togglePosition]="'none'">

          <mat-expansion-panel (opened)="panelOpenState = true" hideToggle (closed)="panelOpenState = false"
            [expanded]="panelOpenState">

            <mat-expansion-panel-header>

              <mat-panel-description>

                <i (contextmenu)="onRightClick()" *ngIf="!panelOpenState" class="material-icons icon"> add_box</i>
                <i *ngIf="panelOpenState" class="material-icons icon">indeterminate_check_box</i> Bussiness Setup


              </mat-panel-description>
            </mat-expansion-panel-header>
            <rbs-client></rbs-client>
          </mat-expansion-panel>
        </mat-accordion>
      </div>



      <div class="col-12 col-md-6 mt-3">
        <mat-accordion>

          <mat-expansion-panel (opened)="panelOpenState2 = true" hideToggle (closed)="panelOpenState2 = false"
            [expanded]="panelOpenState2">
            <mat-expansion-panel-header>
              <mat-panel-description>
                <i (contextmenu)="onRightClick()" *ngIf="!panelOpenState2" class="material-icons icon"> add_box</i>
                <i *ngIf="panelOpenState2" class="material-icons icon">indeterminate_check_box</i> Correspondence
                Setup
              </mat-panel-description>
            </mat-expansion-panel-header>
            <rbs-correspondence-setup></rbs-correspondence-setup>
          </mat-expansion-panel>
        </mat-accordion>
      </div>





      <div class="col-12 col-md-6">

        <mat-accordion>

          <mat-expansion-panel (opened)="panelOpenState3 = true" hideToggle (closed)="panelOpenState3 = false"
            class="mt-3" [expanded]="panelOpenState3">
            <mat-expansion-panel-header>

              <mat-panel-description>
                <i (contextmenu)="onRightClick()" *ngIf="!panelOpenState3" class="material-icons icon"> add_box</i>
                <i *ngIf="panelOpenState3" class="material-icons icon">indeterminate_check_box</i>
                Logo Setup
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="py-3">
              <rbs-logo-setup class="col-12"></rbs-logo-setup>
            </div>

          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>



          <mat-expansion-panel (opened)="panelOpenState4 = true" hideToggle (closed)="panelOpenState4 = false"
            class="mt-3" [expanded]="panelOpenState4">
            <mat-expansion-panel-header>

              <mat-panel-description>
                <i (contextmenu)="onRightClick()" *ngIf="!panelOpenState4" class="material-icons icon"> add_box</i>
                <i *ngIf="panelOpenState4" class="material-icons icon">indeterminate_check_box</i> Email Server Setup
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="padding-7">
              <div class="py-3">
                <rbs-email-server-setup></rbs-email-server-setup>
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>





      </div>







      <!-- <div class="col-12 col-md-6">

        <mat-accordion>

          <mat-expansion-panel (opened)="panelOpenState5 = true" hideToggle (closed)="panelOpenState5 = false"
            class="mt-3" [expanded]="panelOpenState5">
            <mat-expansion-panel-header>
              <mat-panel-description>
                <i (contextmenu)="onRightClick()" *ngIf="!panelOpenState5" class="material-icons icon"> add_box</i>
                <i *ngIf="panelOpenState5" class="material-icons icon">indeterminate_check_box</i>
                Email Body Setup
              </mat-panel-description>
            </mat-expansion-panel-header>
            <rbs-logo-setup class="col-12"></rbs-logo-setup>
          </mat-expansion-panel>
        </mat-accordion>
      </div> -->



      <div class="col-12 col-md-6">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState4 = true" (closed)="panelOpenState4 = false" class="mt-3"
            [expanded]="panelOpenState">
            <mat-expansion-panel-header>
              <mat-panel-description>
                <i class="material-icons icon">add_box</i> Email Body Setup
              </mat-panel-description>
            </mat-expansion-panel-header>
            <rbs-email-body-setup></rbs-email-body-setup>
          </mat-expansion-panel>
        </mat-accordion>
      </div>




    </div>
  </div>

</div>


<div class="col-12 mt-4 text-center mb-4">
  <button class="btn-default" (click)="addCourse()">Submit</button>
</div>
