<div class="container-fluid pb-3">



  <form [formGroup]="CorrespondenceSetup">
    <div class="example-container ">
      <mat-label>Solution</mat-label> <br />
      <mat-form-field class="mat-form-field my-2" appearance="outline">
        <input matInput /> <br />
      </mat-form-field>
      <br />
      <!-- <div
        *ngIf="
        CorrespondenceSetup.controls['solution'].invalid &&
          (CorrespondenceSetup.controls['solution'].touched ||
          CorrespondenceSetup.controls['solution'].dirty)
        "
        class="mb-2"
      >
        <span
          *ngIf="CorrespondenceSetup.controls['solution'].errors.required"
          class="std-error-msg"
        >
          *required field
        </span>
      </div> -->

      <mat-label class="my-mat-label">Signature</mat-label> <br />
      <mat-form-field class="mat-form-field my-2" appearance="outline">
        <input matInput />
      </mat-form-field>
      <br />
      <!-- <div
        *ngIf="
        CorrespondenceSetup.controls['signature'].invalid &&
          (CorrespondenceSetup.controls['signature'].touched ||
          CorrespondenceSetup.controls['signature'].dirty)
        "
        class="mb-2"
      >
        <span
          *ngIf="CorrespondenceSetup.controls['signature'].errors.required"
          class="std-error-msg"
        >
        *required field
        </span>
      </div> -->

      <mat-label>Title</mat-label> <br />
      <mat-form-field class="mat-form-field my-2" appearance="outline">
        <input matInput /> <br />
      </mat-form-field>
      <br />
      <!-- <div
        *ngIf="
        CorrespondenceSetup.controls['title'].invalid &&
          (CorrespondenceSetup.controls['title'].touched ||
          CorrespondenceSetup.controls['title'].dirty)
        "
        class="mb-2"
      >
        <span
          *ngIf="CorrespondenceSetup.controls['title'].errors.required"
           class="std-error-msg"
        >
        *required field
        </span>
      </div> -->
    </div>

    <div class="container-fluid mt-3 py-5 d-none d-md-block d-lg-none d-none d-lg-block d-xl-none d-none d-xl-block">
      <div class="row">

        <div class="col-12 col-md-9">
          <mat-label ngClass="labelBeforeSlide">Formal Salutation on Guest Correspondence</mat-label>
        </div>
        <div class="col-12 col-md-3">
          <mat-slide-toggle class="correspondence-toggle"></mat-slide-toggle>
        </div>

        <div class="col-12 col-md-9 mt-3">
          <mat-label ngClass="labelBeforeSlide">Return Address on Envelopers</mat-label>
        </div>
        <div class="col-12 col-md-3 mt-3">
          <mat-slide-toggle class="correspondence-toggle"></mat-slide-toggle>
        </div>

        <div class="col-12 col-md-9 mt-3">
          <mat-label ngClass="labelBeforeSlide">Logo and Company Footer on Correspondence</mat-label>
        </div>
        <div class="col-12 col-md-3 mt-3">
          <mat-slide-toggle class="correspondence-toggle"></mat-slide-toggle>
        </div>

        <div class="col-12 col-md-9 mt-3">
          <mat-label ngClass="labelBeforeSlide">Update Correspondence Automatically</mat-label>
        </div>
        <div class="col-12 col-md-3 mt-3">
          <mat-slide-toggle class="correspondence-toggle"></mat-slide-toggle>
        </div>

        <div class="col-12 col-md-9 mt-3">
          <mat-label ngClass="labelBeforeSlide">Employee Contact name on Guest Correspondence</mat-label>
        </div>
        <div class="col-12 col-md-3 mt-3">
          <mat-slide-toggle class="correspondence-toggle"></mat-slide-toggle>
        </div>

      
      </div>
    </div>



      <!-------------   Visible on Small screen portion  --------------->

      <div class="container-fluid d-block d-sm-none d-none d-sm-block d-md-none ">
        <div class="row">
          
          <div class="col-12  toggle-div">
            <mat-label ngClass="labelBeforeSlide">Formal Soulations on Guest Correspondence</mat-label>
            <mat-slide-toggle class="correspondence-toggle"></mat-slide-toggle>
          </div>

          <div class="col-12  toggle-div">
            <mat-label ngClass="labelBeforeSlide">Return Address on Envelopers</mat-label>
            <mat-slide-toggle class="correspondence-toggle"></mat-slide-toggle>
          </div>

          <div class="col-12  toggle-div">
            <mat-label ngClass="labelBeforeSlide">Logo and Company Footer on Correspondence</mat-label>
            <mat-slide-toggle class="correspondence-toggle"></mat-slide-toggle>
          </div>

          <div class="col-12 toggle-div">
            <mat-label ngClass="labelBeforeSlide">Update Correspondence Automatically</mat-label>
            <mat-slide-toggle class="correspondence-toggle"></mat-slide-toggle>
          </div>

          <div class="col-12 toggle-div">
            <mat-label ngClass="labelBeforeSlide">Employee Contact name on Guest Correspondence</mat-label>
            <mat-slide-toggle class="correspondence-toggle"></mat-slide-toggle>
          </div>
        </div>
      </div>

      <!------------- End of Visible on Small screen portion  --------------->




  </form>

</div>