



<div class="container-fluid">
  <div class="row">
    <div class="col-6 offset-3">
       <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="row">
      <div class="col-4">
         <ngx-dropzone (change)="onSelect($event)">
      <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
      <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-preview>
  </ngx-dropzone>
      </div>
      <div class="col-4">
            <ngx-dropzone (change)="onSelect($event)">
          <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
          <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
      <div class="col-4 text-center">
        <button  class="logo-action-btn upload-btn white-font" mat-raised-button><mat-icon>backup</mat-icon> <span>Upload Image</span> </button> <br>
        <button class="mt-3 logo-action-btn set-logo-btn white-font" mat-raised-button>Set as Logo</button> <br>
        <button class="mt-3 logo-action-btn cancel-btn white-font" mat-raised-button>Cancel</button>
      </div>
    </div>



  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
    </div>

  </div>

</div>

