<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <mat-card class="mb-4">


    <form [formGroup]="loginForm">

    <h5 style="color: red;"> Email Body Setup</h5>

    <div class="container-fluid mt-3">

      <mat-label>Record Type</mat-label> <br>
      <mat-form-field  class="mat-form-field my-2 w-100" appearance="outline">
        <input matInput formControlName="recordType"><br>
      </mat-form-field> <br>
      <div *ngIf = "loginForm.controls['recordType'].invalid && (loginForm.controls['recordType'].touched
      || loginForm.controls['recordType'].dirty ) " class="mb-2">
      <span *ngIf = "loginForm.controls['recordType'].errors.required"  class="std-error-msg" >
        *required field
        </span>
     </div>


       <mat-label class="my-mat-label">Subject</mat-label> <br>
      <mat-form-field class="mat-form-field my-2 w-100" appearance="outline">
        <input matInput formControlName="subject">
      </mat-form-field> <br>
      <div *ngIf = "loginForm.controls['subject'].invalid && (loginForm.controls['subject'].touched
      || loginForm.controls['subject'].dirty ) " class="mb-2">
      <span *ngIf = "loginForm.controls['subject'].errors.required" class="std-error-msg" >
        *required field
        </span>
     </div>

      <mat-label >Reply To</mat-label> <br>
      <mat-form-field class="mat-form-field my-2 w-100" appearance="outline">
        <input matInput formControlName="replyTo"> <br>
      </mat-form-field> <br>
      <div *ngIf = "loginForm.controls['replyTo'].invalid && (loginForm.controls['replyTo'].touched
      || loginForm.controls['replyTo'].dirty ) " class="mb-2">
      <span *ngIf = "loginForm.controls['replyTo'].errors.required"  class="std-error-msg">
        *required field
        </span>
     </div>

      <mat-label>CC</mat-label> <br>
      <mat-form-field class="mat-form-field my-2 w-100" appearance="outline">
        <input matInput formControlName="cc"> <br>
      </mat-form-field> <br>
      <div *ngIf = "loginForm.controls['cc'].invalid && (loginForm.controls['cc'].touched
      || loginForm.controls['cc'].dirty ) " class="mb-2">
      <span *ngIf = "loginForm.controls['cc'].errors.required"  class="std-error-msg">
        *required field
        </span>
     </div>

      <mat-label class="my-mat-label">BCC</mat-label> <br>
      <mat-form-field class="mat-form-field my-2 w-100" appearance="outline">
        <input matInput formControlName="bcc">
      </mat-form-field> <br>
      <div *ngIf = "loginForm.controls['bcc'].invalid && (loginForm.controls['bcc'].touched
      || loginForm.controls['bcc'].dirty ) " class="mb-2">
      <span *ngIf = "loginForm.controls['bcc'].errors.required"  class="std-error-msg" >
        *required field
        </span>
     </div>

      <mat-label>Header</mat-label> <br>
      <mat-form-field class="mat-form-field my-2 w-100" appearance="outline">
        <input matInput formControlName="header"> <br>
      </mat-form-field> <br>
      <div *ngIf = "loginForm.controls['header'].invalid && (loginForm.controls['header'].touched
      || loginForm.controls['header'].dirty ) " class="mb-2">
      <span *ngIf = "loginForm.controls['header'].errors.required"  class="std-error-msg" >
        *required field
        </span>
     </div>

      <mat-label>Body</mat-label> <br>
      <mat-form-field class="mat-form-field my-2 w-100" appearance="outline">
        <input matInput formControlName="body"> <br>
      </mat-form-field> <br>
      <div *ngIf = "loginForm.controls['body'].invalid && (loginForm.controls['body'].touched
      || loginForm.controls['body'].dirty ) " class="mb-2">
      <span *ngIf = "loginForm.controls['body'].errors.required"  class="std-error-msg" >
        *required field
        </span>
     </div>

      <mat-label>Footer</mat-label> <br>
      <mat-form-field class="mat-form-field my-2 w-100" appearance="outline">
        <input matInput formControlName="footer"> <br>
      </mat-form-field> <br>
      <div *ngIf = "loginForm.controls['footer'].invalid && (loginForm.controls['footer'].touched
      || loginForm.controls['footer'].dirty ) " class="mb-2">
      <span *ngIf = "loginForm.controls['footer'].errors.required" class="std-error-msg">
        *required field
        </span>
     </div>

    </div>

    <div class="col-12 text-center mt-5">
      <button mat-raised-button color="primary">Submit</button>
    </div>
</form>

</mat-card>
    </div>
  </div>
</div>




