<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <mat-card class="mb-4">
        <h5>Email Body Setup</h5>
        <form [formGroup]="EmailBodySetup">

          <mat-label>Record Type</mat-label> <br />
          <mat-form-field class="mat-form-field my-2 w-100" appearance="outline">
            <input matInput /><br />
          </mat-form-field>
          <br />
          <!-- <div
              *ngIf="
              EmailBodySetup.controls['recordType'].invalid &&
                (EmailBodySetup.controls['recordType'].touched ||
                EmailBodySetup.controls['recordType'].dirty)
              "
              class="mb-2"
            >
              <span
                *ngIf="EmailBodySetup.controls['recordType'].errors.required"
                class="std-error-msg"
              >
                *required field
              </span>
            </div> -->

          <mat-label class="my-mat-label">Subject</mat-label> <br />
          <mat-form-field class="mat-form-field my-2 w-100" appearance="outline">
            <input matInput />
          </mat-form-field>
          <br />
          <!-- <div
              *ngIf="
              EmailBodySetup.controls['subject'].invalid &&
                (EmailBodySetup.controls['subject'].touched ||
                EmailBodySetup.controls['subject'].dirty)
              "
              class="mb-2"
            >
              <span
                *ngIf="EmailBodySetup.controls['subject'].errors.required"
                class="std-error-msg"
              >
                *required field
              </span>
            </div> -->

          <mat-label>Reply To</mat-label> <br />
          <mat-form-field class="mat-form-field my-2 w-100" appearance="outline">
            <input matInput /> <br />
          </mat-form-field>
          <br />
          <!-- <div
              *ngIf="
              EmailBodySetup.controls['replyTo'].invalid &&
                (EmailBodySetup.controls['replyTo'].touched ||
                EmailBodySetup.controls['replyTo'].dirty)
              "
              class="mb-2"
            >
              <span
                *ngIf="EmailBodySetup.controls['replyTo'].errors.required"
                class="std-error-msg"
              >
                *required field
              </span>
            </div> -->

          <mat-label>CC</mat-label> <br />
          <mat-form-field class="mat-form-field my-2 w-100" appearance="outline">
            <input matInput /> <br />
          </mat-form-field>
          <br />
          <!-- <div
              *ngIf="
              EmailBodySetup.controls['cc'].invalid &&
                (EmailBodySetup.controls['cc'].touched ||
                EmailBodySetup.controls['cc'].dirty)
              "
              class="mb-2"
            >
              <span
                *ngIf="EmailBodySetup.controls['cc'].errors.required"
                class="std-error-msg"
              >
                *required field
              </span>
            </div> -->

          <mat-label class="my-mat-label">BCC</mat-label> <br />
          <mat-form-field class="mat-form-field my-2 w-100" appearance="outline">
            <input matInput />
          </mat-form-field>
          <br />
          <!-- <div
              *ngIf="
              EmailBodySetup.controls['bcc'].invalid &&
                (EmailBodySetup.controls['bcc'].touched ||
                EmailBodySetup.controls['bcc'].dirty)
              "
              class="mb-2"
            >
              <span
                *ngIf="EmailBodySetup.controls['bcc'].errors.required"
                class="std-error-msg"
              >
                *required field
              </span>
            </div> -->

          <mat-label>Header</mat-label> <br />
          <mat-form-field class="mat-form-field my-2 w-100" appearance="outline">
            <textarea #textArea (matInput)="changeHeigth(textArea)" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" [style.height]="heigth"
              (focus)="heigth=textArea.scrollHeight+'px'" (blur)="heigth='1.125rem'"></textarea>

            <br />
          </mat-form-field>
          <!-- <ckeditor [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor> -->
          <br />
          <!-- <div
              *ngIf="
              EmailBodySetup.controls['header'].invalid &&
                (EmailBodySetup.controls['header'].touched ||
                EmailBodySetup.controls['header'].dirty)
              "
              class="mb-2"
            >
              <span
                *ngIf="EmailBodySetup.controls['header'].errors.required"
                class="std-error-msg"
              >
                *required field
              </span>
            </div> -->

          <mat-label>Body</mat-label> <br />
          <mat-form-field class="mat-form-field my-2 w-100" appearance="outline">
            <input matInput /> <br />
          </mat-form-field>
          <br />
          <!-- <div
              *ngIf="
              EmailBodySetup.controls['body'].invalid &&
                (EmailBodySetup.controls['body'].touched ||
                EmailBodySetup.controls['body'].dirty)
              "
              class="mb-2"
            >
              <span
                *ngIf="EmailBodySetup.controls['body'].errors.required"
                class="std-error-msg"
              >
                *required field
              </span>
            </div> -->

          <mat-label>Footer</mat-label> <br />
          <mat-form-field class="mat-form-field my-2 w-100" appearance="outline">
            <input matInput /> <br />
          </mat-form-field>
          <br />
          <!-- <div
              *ngIf="
              EmailBodySetup.controls['footer'].invalid &&
                (EmailBodySetup.controls['footer'].touched ||
                EmailBodySetup.controls['footer'].dirty)
              "
              class="mb-2"
            >
              <span
                *ngIf="EmailBodySetup.controls['footer'].errors.required"
                class="std-error-msg"
              >
                *required field
              </span>
            </div> -->

        </form>
        <ckeditor #textArea [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>
      </mat-card>
    </div>
  </div>
</div>
