<div class="container-fluid">

    <mat-card>
        <mat-card-header>
            <mat-card-title><span style="color: red;">Email Server Setup</span></mat-card-title>
        </mat-card-header>

        <form [formGroup]='emailServersetupForm'>
            <div class="row">
                <div class="col-12 col-sm-4">
                    <mat-label class="my-mat-label">Server</mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput formControlName="server">
                    </mat-form-field>
                    <div
                        *ngIf="emailServersetupForm.controls['server'].invalid && (emailServersetupForm.controls['server'].dirty || emailServersetupForm.controls['server'].touched)">
                        <div *ngIf="emailServersetupForm.controls['server'].errors.required" class="my-2 std-error-msg">
                            *required field.
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-4">
                    <mat-label class="my-mat-label">Port</mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput formControlName="port">
                    </mat-form-field>
                    <div
                        *ngIf="emailServersetupForm.controls['port'].invalid && (emailServersetupForm.controls['port'].dirty || emailServersetupForm.controls['port'].touched)">
                        <div *ngIf="emailServersetupForm.controls['port'].errors.required" class="my-2 std-error-msg">
                            *required field.
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-4">
                    <mat-label class="my-mat-label">Time Out</mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput formControlName="timeOut">
                    </mat-form-field>
                    <div
                        *ngIf="emailServersetupForm.controls['timeOut'].invalid && (emailServersetupForm.controls['timeOut'].dirty || emailServersetupForm.controls['timeOut'].touched)">
                        <div *ngIf="emailServersetupForm.controls['timeOut'].errors.required"
                            class="my-2 std-error-msg">
                            *required field.
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-4">
                    <mat-label class="my-mat-label">User ID</mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput formControlName="userID">
                    </mat-form-field>
                    <div
                        *ngIf="emailServersetupForm.controls['userID'].invalid && (emailServersetupForm.controls['userID'].dirty || emailServersetupForm.controls['userID'].touched)">
                        <div *ngIf="emailServersetupForm.controls['userID'].errors.required" class="my-2 std-error-msg">
                            *required field.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <mat-label class="my-mat-label">From</mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput formControlName="from">
                    </mat-form-field>
                    <div
                        *ngIf="emailServersetupForm.controls['from'].invalid && (emailServersetupForm.controls['from'].dirty || emailServersetupForm.controls['from'].touched)">
                        <div *ngIf="emailServersetupForm.controls['from'].errors.required" class="my-2 std-error-msg">
                            *required field.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <mat-label class="my-mat-label">Hash</mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput formControlName="hash">
                    </mat-form-field>
                    <div
                        *ngIf="emailServersetupForm.controls['hash'].invalid && (emailServersetupForm.controls['hash'].dirty || emailServersetupForm.controls['hash'].touched)">
                        <div *ngIf="emailServersetupForm.controls['hash'].errors.required" class="my-2 std-error-msg">
                            *required field.
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-4">
                    <mat-label class="my-mat-label">Test To</mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput formControlName="testTo">
                    </mat-form-field>
                    <div
                        *ngIf="emailServersetupForm.controls['testTo'].invalid && (emailServersetupForm.controls['testTo'].dirty || emailServersetupForm.controls['testTo'].touched)">
                        <div *ngIf="emailServersetupForm.controls['testTo'].errors.required" class="my-2 std-error-msg">
                            *required field.
                        </div>
                    </div>
                </div>

                <div class="col-3 col-md-8 pt-3">
                    <span> Test Mode <mat-slide-toggle style="padding-top: 23px;"></mat-slide-toggle></span>
                </div>



                <div class="col-3">
                    <span> Authentication <mat-slide-toggle style="padding-top: 23px;"></mat-slide-toggle></span>
                </div>

                <div class="col-3">
                    <span> Send TLS <mat-slide-toggle style="padding-top: 23px;"></mat-slide-toggle></span>
                </div>

                <div class="col-3">
                    <span> Enable SSL <mat-slide-toggle style="padding-top: 23px;"></mat-slide-toggle></span>
                </div>

                <div class="col-3">
                    <span> Enable Status <mat-slide-toggle style="padding-top: 23px;"></mat-slide-toggle></span>
                </div>
                <div class="col-12 text-center mt-5">
                    <button mat-raised-button color="primary">Submit</button>
                </div>

            </div>
        </form>
    </mat-card>
</div>