:host{
  width: 100%;
  .logo-action-btn{
    width: 130px;
    border-radius: 20px;
  }
  .upload-btn{
    background-color: #26808A !important;
    font-size: 11px;
    font-weight: 500;
    mat-icon{
      font-size: 16px;
    }
  }
  .set-logo-btn{
    background-color: #595959 !important;
    font-size: 11px;
    font-weight: 500;
  }
  .cancel-btn{
    background-color: #C00000 !important;
    font-size: 11px;
    font-weight: 500;
  }


}

.mat-card-content{
  margin: 16px 16px !important;
}
button:focus {
  outline: none;
}

