<mat-card-header>

  <mat-card-subtitle>Add a business logo to display on billing reports. Business logos may have a minimum size of
    48X48 and maximum size of
    100X100 pixels. The image format can be in PNG, JPG and JPEG format.
  </mat-card-subtitle>
</mat-card-header>

<mat-card-content>
  <div class="row">
    <div class="col-12 col-md-5  mt-3 my-auto">
      <div #drop class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
        <ngx-dropzone-label>

          <span class="material-icons">
            backup
          </span>

        </ngx-dropzone-label>
        <!-- <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of selectedFiles" [file]="f"
            [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label></ngx-dropzone-label>
          </ngx-dropzone-image-preview> -->
        <rbs-custom-dropzone-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of selectedFiles" [file]="f"
          [removable]="true" (removed)="onRemove(f)">
        </rbs-custom-dropzone-preview>
      </div>
    </div>

    <div class="mt-5 col-12 col-md-2  " style="text-align: center;">

      <span class="material-icons mt-4 d-none d-lg-block d-xl-none 	d-none d-xl-block d-none d-md-block d-lg-none">
        keyboard_backspace
      </span>
      <span class="material-icons up_arrow d-block d-sm-none d-none d-sm-block d-md-none">
        arrow_upward
      </span>

    </div>

    <div class="col-12 col-md-5   ">
      <div #drop class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
        <ngx-dropzone-label>

          <span class="material-icons">
            backup
            <<<<<<< HEAD </span>
              =======
          </span>
          >>>>>>> b2aa4872a89cc3a779f7eb70f6509968ba3a842d

        </ngx-dropzone-label>

        <rbs-custom-dropzone-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
          [removable]="true" (removed)="onRemove(f)">
        </rbs-custom-dropzone-preview>
      </div>
    </div>

  </div>
</mat-card-content>
<mat-card-actions>
</mat-card-actions>
