<mat-card class="example-card ">
  <mat-card-header>
    <mat-card-title>Logo Setup</mat-card-title>
    <mat-card-subtitle>Add a business logo to display on billing reports. Business logos may have a minimum size of
      48X48 and maximum size of
      100X100 pixels. The image format can be in PNG, JPG and JPEG format.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="row">
      <div class="col-12 col-md-5  mt-3 my-auto">
        <ngx-dropzone (change)="onSelect($event)" [disabled]="true" [expandable]="true">
          <ngx-dropzone-label>No Logo <br> Uploaded</ngx-dropzone-label>
          <ngx-dropzone-preview *ngFor="let f of files">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>

      <div class="mt-5 col-12 col-md-2  " style="text-align: center;">

        <button class="btn-default m-3">Logo Uplaod</button>

      </div>

      <div class="col-12 col-md-5   ">
        <div #drop class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
          <ngx-dropzone-label>

            No Logo <br> Uploaded

          </ngx-dropzone-label>
          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
            [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-image-preview>
        </div>
      </div>

    </div>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
