<div class="container-fluid pb-4">







  <form [formGroup]='testForm' novalidate (ngSubmit)="submitClientForm()">
    <div class="row">
      <div class="col-12">
        <mat-label>Business Name</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput>
        </mat-form-field>
       
      </div>

      <div class="col-12">
        <mat-label class="my-mat-label">Business Address 1</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput>
        </mat-form-field>
    
      </div>

      <div class="col-12">
        <mat-label class="my-mat-label">Business Address 4</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput>
        </mat-form-field>
       
      </div>
      <div class="col-12 col-sm-4">
        <mat-label class="my-mat-label">City</mat-label>
        <mat-form-field appearance="none" class="w-100">
          <mat-select>
            <mat-option value="option">Option 1</mat-option>
            <mat-option value="option">Option 2</mat-option>
            <mat-option value="option">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
       
      </div>
      <div class="col-12 col-sm-4">
        <mat-label class="my-mat-label">State</mat-label>
        <mat-form-field appearance="none" class="w-100">
          <mat-select>
            <mat-option value="option">Option 1</mat-option>
            <mat-option value="option">Option 2</mat-option>
            <mat-option value="option">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
      
      </div>
      <div class="col-12 col-sm-4">
        <mat-label class="my-mat-label">ZIP</mat-label>
        <mat-form-field appearance="none" class="w-100">
          <input type="number" matInput>
        </mat-form-field>
       
      </div>
      <div class="col-12 col-sm-4">
        <mat-label class="my-mat-label">Business Phone 1</mat-label>
        <mat-form-field appearance="none" class="w-100">
          <input type="number" matInput>
        </mat-form-field>
       
      </div>
      <div class="col-12 col-sm-4">
        <mat-label class="my-mat-label">Business Phone 2</mat-label>
        <mat-form-field appearance="none" class="w-100">
          <input type="number" matInput>
        </mat-form-field>
       
      </div>
      <div class="col-12 col-sm-4">
        <mat-label class="my-mat-label">Business Email</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput>
        </mat-form-field>
     
      </div>
      <div class="col-12">
        <mat-label class="my-mat-label">Business Website</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput>
        </mat-form-field>
      
      </div>
      <div class="col-12">
        <mat-label class="my-mat-label">Outfitter Name</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput>
        </mat-form-field>
      
      </div>
      <div class="col-12">
        <mat-label class="my-mat-label">Outfitter License Number</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput>
        </mat-form-field>
      
      </div>

    </div>

  </form>

</div>
